<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17739122534-hn3dvkuj5dngeosh7jqta9q745isgq58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17739122534-hn3dvkuj5dngeosh7jqta9q745isgq58</string>
	<key>API_KEY</key>
	<string>AIzaSyBjgyXEtBEd26nOriPpTlJFimz9qWJUCGU</string>
	<key>GCM_SENDER_ID</key>
	<string>17739122534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reservationTest</string>
	<key>PROJECT_ID</key>
	<string>reservation-5cd4b</string>
	<key>STORAGE_BUCKET</key>
	<string>reservation-5cd4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17739122534:ios:dea4e287641dcb13a42aa7</string>
</dict>
</plist>